$kayak-grey-text: #647582;

.flight-search {
  background-color: whitesmoke;

  .arrow-icon {
    display: flex;
    align-items: center;
  }
}

.flight-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  border: 1px solid transparent;
  box-shadow: 0 0 2px 0 rgba(19, 26, 31, 0.12),0 2px 4px 0 rgba(19,26,31,0.22);

  &:hover {
    border-color: rgba(19, 26, 31, 0.22);
  }
}

.flight-overview {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #fff;

  .info-summary {
  display: flex;

    &:first-of-type {
      margin-bottom: 8px;
    }

    > figure {
      height: 50px;
      margin-right: 16px;

      > img {
        height: 100%;
      }

      > img.multi {
        height: 50%;
      }
    }

    > div {
      width: 200px;

      > div:first-of-type {
        font-weight: 700;
      }

      > div:last-of-type {
        font-size: 14px;
        color: $kayak-grey-text;
      }
    }
  }

  .price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 16px;
  border-left: 1px solid #e5ebf0;

    h4 {
      font-size: 24px;
      font-weight: 700;
    }

    h6 {
      font-size: 12px;
      font-weight: 700;
    }

    a {
      height: 34px;
      padding: 0 32px;
    }
  }
}

.flight-detail {
  padding: 8px 16px;
  background-color: #F3F5F7;

  > div {
    margin: 20px 0;
  }

  .flight-detail-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;

    h5 {
      font-size: 18px;
      font-weight: 700;

      span {
        font-size: 15px;
        font-weight: 400;
        margin-left: 15px;
      }
    }
  }

  .flight-detail-body {
    padding: 20px;
    background-color: #fff;
  }
}

.flight-panel {
  display: flex;
  font-size: 13px;

  .panel-date {
    position: relative;
    display: flex;
    min-width: 120px;

    img {
      position: absolute;
      right: 10px;
      width: 25px;
      height: 25px;
    }
  }

  .panel-top {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .panel-main {
    flex-grow: 1;

    .airplane-detail {
      font-size: 12px;
    }
  }

  .panel-stopover {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 20px 0;
    border-top: 1px dashed #8596a3;
    border-bottom: 1px dashed #8596a3;
  }

  span.seat-type {
    margin-right: 8px;
    text-transform: capitalize;
    color: $kayak-grey-text;
  }

  .bold {
    font-weight: 700;
  }
}

.hide {
  display: none;
}

div.Loader {
  width: 100%;
  display: flex;
 justify-content: center;
}

.spinner {
  font-size: 150px;
  color: turquoise;
}
