.flight-summary {
  margin-bottom: 20px;
}

.section_flightssearch{
  background-color: whitesmoke;
}

.section_flightindex{
  background-color: whitesmoke;
  scroll-padding-top: 10%;
  height: 90%vh;
}
