@import './components/flights/flights';
@import './components/restaurants/restaurants';

* {
  box-sizing: border-box;
}

// .section_home {
//   height: 90vh;
// }

.section_home > img {
	height: 30vh;
	width : 100vw;
}

.section_login {
	display: flex;
	justify-content: flex-start;
}

section > div.login_top_left {
background-color: whitesmoke ;
border-radius: 10px;
padding: 30px;
display: flex;
width: 50vw;
}


section > div.login_top_right {
width: 50vw;
text-align: center;
background-color: whitesmoke ;
border-radius: 10px;
padding: 30px;
}

section.section_login > div.login_top_right > img {
height: 30vh;
padding-top: 10%;
}

section > div.login_bottom
{
align-content: center;
background-color: whitesmoke ;
}

section > div.login_bottom > img
{
opacity: 50%;
padding: 30px;
height: 50vh;
width: 100vw;
// border: 3px solid turquoise;
border-radius: 10px;
}

.section_register {
	display: flex;
  justify-content: flex-start;
  height: 90vh;
}

section > div.register_top_left {
background-color: whitesmoke ;
border-radius: 10px;
padding: 30px;
// display: flex;
width: 70vw;
}

section > div.register_top_right {
background-color: whitesmoke ;
border-radius: 10px;
width: 30vw;
align-items: center;
}

section.section_register > div.register_top_right > img {
height: 60vh;
padding-top: 20%;
}



// INDEX PAGE

.section-index {
  background-color: whitesmoke;
}

.personal-frip {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: start;
}

.section-index {
  height: 90vh;
}

.content-index {
  flex: 1;
  border: 2px solid #00d1b2;
  padding: 10px 20px;
  text-align: center;
  margin: 20px; 
  min-width: 250px;
  max-width: 250px;
  flex-grow: 1;
  border-radius: 20px;
}

.trip-link {
  text-align: center;
}

.scale {
  font-size: 20px;
}



// line break
.line-break {
  border: 2px solid #00d1b2;
  width: 100%;
  background-color: #00d1b2;
}

// SHOW PAGE

.section-show {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
}

.box-showpage {
  margin: 20px 10px;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}


.content-show {
  flex: 1.5;
  line-height: 200%;
}

.search-flight {
  margin: 0 20px;
  background-color: rgb(169,218,255);
  color: white;
}
.hotels-show {
  flex-wrap: wrap;
  padding: 0 10px;
  flex: 1;
}

.show-image {
  width: 400px;
  height: 400px;
}

.search-hotel {
  // border-radius: 10%;
  background-color: #00d1b2;
  color: white;
 }

.hotels-show  {
  background: whitesmoke;
  image-resolution: 150%;
}

.assign-hotel {
position: relative;
width: 100%;
display: flex;
flex-wrap: wrap;
}

.direction {
  min-width: 50%;
  text-align: center;
  margin: 20px 0;
}


#root > footer {
  background-color: hsl(171, 100%, 41%);
  padding: 15px;
}

#root > main > section.section {
  height: 55vh;
  text-align: center;
}



// BULMA footer override
// $footer-background-color: $primary;
// $footer-color: false !default;
// $footer-padding: 3rem 1.5rem 6rem !default;

// .footer {
//   background-color: $footer-background-color; k
//   padding: $footer-padding;
//   @if $footer-color;
//     color: $footer-color green;
// }



